html
  head
    title= title
    // Include the styles
    link(rel='stylesheet', href='/stylesheets/styles.css')
    // Set viewport
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    // The navbar
    nav.navbar
      a.navbar-brand(href='/') Loc8r
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#siteNavbar'
        aria-controls='siteNavbar' aria-expanded=false aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #siteNavbar.collapse.navbar-collapse
        div.navbar-nav
          // `active` class is added only if current page corresponds to the <a> element
          a.nav-item(href='/', class=activeMenuItem === 0 ? 'active' : '') Home
          a.nav-item(href='/about', class=activeMenuItem === 1 ? 'active' : '') About

    .container-lg.mt-2
      // Main content
      block content

      // Footer
      footer.mt-3
        .row
          .col-12
            span.small site design / logo &copy; 2021 Loc8r

    // Include the global scripts accessible to entire app
    script(src='/scripts/jquery.slim.min.js')
    script(src='/scripts/popper.min.js')
    script(src='/scripts/bootstrap.min.js')
