extends layout

include _includes/common-mixins

block content
  .row.banner
    .col-12
      span.page-heading= location.name
  .row
    .col-12.col-md-8
      .row.align-items-md-end
        .col-12.col-md-6
          p
            +outputRating(location.rating, 'h6')
          p= location.address
          .card
            .card-body
              .card-title
                span.card-heading Opening hours
              each value, index in location.openingHours
                - const marginClass = {'mb-1': index < location.openingHours.length - 1};
                if value.closed
                  .card-text(class=marginClass) #{value.days}: closed
                else
                  .card-text(class=marginClass) #{value.days}: #{value.opening} - #{value.closing}
          .card
            .card-body
              .card-title
                span.card-heading Facilities
              p.card-text
                each facility in location.facilities
                  span.facility-badge= facility
        .col-12.col-md-6
          .card
            .card-body
              .card-title
                span.card-heading Location map
              .card-text
                img.img-fluid.rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=' +
                        location.mapParams.coordinates + '&zoom=' + location.mapParams.zoom + '&size=' + location.mapParams.imgSize +
                        '&sensor=false&markers=' + location.mapParams.coordinates + '&scale=' + location.mapParams.scale +
                        '&key=' + location.mapParams.apiKey)
      .row
        .col-12
          .review-block
            .row
              .col-6
                span.card-heading Customer reviews
              .col-6.text-right
                a.add-review-btn(href='/location/review/new') Add Review

            each review in location.reviews
              .row.review-header
                .col-6
                  span #{review.reviewer}, #{review.date}
                .col-6.text-right
                  +outputRating(location.rating)
              .row
                p #{review.text}

    .col-12.col-md-4
      p.bigger= `${location.name} ${sidebar.context}`
      p= sidebar.callToAction
